*{
    margin: 0px;
    padding: 0px;
    font-family: Century Gothic;
}
body{
    background: linear-gradient(to right bottom, #051937, #001d30, #001e20, #001c11, #131805);
    background-size: 100vw 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0vw 50vh;
	}
	50% {
		background-position: 100vw 50vh;
	}
	100% {
		background-position: 0vw 50%;
	}
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    margin-right: 5px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
.Logo h1{
    color: #6eff0e;
    font-weight: normal;
    font-size: 30px;
    float: left;
    padding: 5px 20px;
}
.Title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Title h1{
    color: white;
    font-size: 60px;
}
.TitleDesc{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: cornflowerblue;
}
