body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.img1, .img2, .img3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.img1 {
    background-image:url("images/bg1.jpg");
    min-height: 100%;
}

.img2 {
    background-image:url("images/bg2.jpg");
    min-height: 400px;
}

.img3 {
    background-image:url("images/bg3.jpg");
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border{
    background-color: rgba(25, 6, 128, 0.74);
    color: #fff;
    padding: 20px;
}


.text .border.trans{
    background-color: transparent;
}

.nav-links{
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(68, 5, 104);
    z-index:300;
}

.nav-links li{
    float: none;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-right: 5px;
}

.nav-links li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px 16px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}